.admin-dashboard {
    background-color: #d9d9d9;
    padding-top :20px; 
}

.admin-dashboard ul li{
     margin-bottom :15px; 
}
.admin-dashboard ul li a{
     text-decoration :none; 
     color:black; 
}

.admin-dashboard ul li a:hover{
     color:#007bff; 
}
